{% extends 'components/base.html' %}{% load static %}{% block content %}

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="blog__details__hero set-bg" data-setbg="{% static 'img/blog/details/africa-humanitarian-aid.jpg' %}">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="blog__hero__text">
                        <h2>Latest Kenyan Health News Updates</h2>
                        <ul>
                            <li><img src="{% static 'img/blog/jane_kamau.png' %}" alt=""> Jane Kamau</li>
                            <li>April 12, 2025</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
                <div class="blog__details__social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                </div>
                <div class="blog__details__text">
                    <div class="blog__details__text__item">
                        <h5>1 - Mpox Cases Reported in Nairobi</h5>
                        <p>Health officials have confirmed new cases of mpox in Nairobi, urging residents to seek
                            testing and vaccination at local health centers. The Ministry of Health is deploying rapid
                            response teams to contain the outbreak.</p>
                    </div>
                    <div class="blog__details__text__item">
                        <h5>2 - Cholera Vaccination Drive in Coastal Region</h5>
                        <p>A mass cholera vaccination campaign has been launched in Mombasa and Kilifi counties
                            following recent flooding. Health workers are targeting vulnerable populations to curb the
                            spread of the disease.</p>
                    </div>
                    <div class="blog__details__text__item">
                        <h5>3 - Social Health Authority (SHA) Fully Operational</h5>
                        <p>The Social Health Authority has officially replaced the NHIF, with registration ongoing
                            nationwide. Kenyans are encouraged to enroll to access affordable healthcare services under
                            the new scheme.</p>
                    </div>
                    <div class="blog__details__text__item">
                        <h5>4 - Malaria Cases Drop in Western Kenya</h5>
                        <p>Efforts to distribute insecticide-treated nets and improve access to antimalarial drugs have
                            led to a significant reduction in malaria cases in Kisumu and surrounding areas, according
                            to recent health reports.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->

{% endblock %}